.fire{
    color: rgb(255, 139, 6);
}
body{
    font-family: 'PT Serif', serif;
    margin: 0px;
}
.god{
    display: flex;
    margin-bottom: 150px;
}
.width{
    width: 50%;
    padding-left: 5%;
}
.width img{
    width: 80%;
}
h1{
    font-size: 50px;
    color: tomato;
}
.link-btn{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.thor{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.thor-1 img{
    width: 70%;
}
.thor-1{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}